body {
    font-family: 'Roboto', sans-serif;
    color: darkgrey; 
    font-size: 14px;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: $mainOrange;
}
* {
    box-sizing: border-box;
}