.btn {
    background: $mainBlue;
    color: #FFFFFF;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;

    &--orange {
        background: $mainOrange;
    }
    &--large {
        padding: 1.1rem 1.9rem;

        @mixin sm {
            font-size: 2rem;
        }
    }
}